mqtt.serverUrl=tcp://dumskyhome.keenetic.name:1883
mqtt.user=dumskyhome
mqtt.password=S746em99
mqtt.connectionTimeout=10
mqtt.clientId=AuthorizationService

mqtt.topic.authorizationRequests=/HOME_AUTOMATION/AUTHORIZATION_REQUESTS